<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #4682C2;">
  <div class="container-fluid">
    <button mat-icon-button *ngIf="menu == 'user' && mode == 'over'" (click)="onMenuClick()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="navbar-brand cursor" (click)="navigate('login')">Letschat</a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngSwitch]="menu" class="collapse navbar-collapse" id="navbarCollapse">
        <div *ngSwitchCase="'user'" class="navbar-nav">
          <a class="nav-item nav-link active cursor" (click)="navigate('main')">Main</a>
        </div>
        <div class="navbar-nav">
          <a class="nav-item nav-link cursor" (click)="navigate('about')">About Us</a>
        </div>  
        <div *ngSwitchCase="'user'" class="navbar-nav ms-auto">
          <button mat-button class="user cursor">
            <mat-icon>person</mat-icon>
            <span>{{username | uppercase}}</span>
          </button>
          <button mat-button class="user cursor" matTooltip="More Options" [matMenuTriggerFor]="topmenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <!-- <a class="btn btn-info cursor" (click)="logoutUser()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </a> -->
        </div>
        <mat-menu #topmenu="matMenu">
          <button mat-menu-item (click)="logoutUser()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
    </div>
  </div>
</nav>