<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #4682C2;">
  <div class="container-fluid text-white">
    <button mat-icon-button *ngIf="menu == 'user'" (click)="onMenuClick()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="navbar-brand cursor" (click)="navigate('login')">Letschat</a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <mat-icon>more_vert</mat-icon>
    </button>
    <div [ngSwitch]="menu" class="collapse navbar-collapse" id="navbarCollapse">
        <div *ngSwitchCase="'user'" class="navbar-nav">
          <button mat-button class="user cursor font-white" (click)="navigate('main')">
            <span>Main</span>
          </button>
        </div>
        <div class="navbar-nav">
          <button mat-button class="user cursor font-white" (click)="navigate('about')">
            <span>About Us</span>
          </button>
        </div>  
        <div *ngSwitchCase="'user'" class="navbar-nav ms-auto">
          <button mat-button class="user cursor font-white" [matMenuTriggerFor]="topmenu">
            <mat-icon>list</mat-icon>
            <span>{{username | uppercase}}</span>
          </button>
        </div>
        <mat-menu #topmenu="matMenu">
          <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>My Profile</span>
          </button>
          <button mat-menu-item (click)="logoutUser()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
    </div>
  </div>
</nav>