.cursor {
    cursor: pointer;
}

.incoming {
    background: #8F8BE8;
    color: #fff;
}

.outgoing {
    background: #e9eafd;
    color: #787986;
    margin-left: auto;
}

.custom_text {
    color: white;
}

.group_date_text {
    color: white;
}

.zoom:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
    margin: 40px;
    transition: transform .2s;
}

.chat-card {
    height: 480px;
    overflow: auto;
}


.card-bg {
    background-image: url('../../assets/chat_bg.jpg');
    background-size: cover;
}