<div class="card mx-auto" [hidden]="closed">
    <div class="card-header">
        <div class="navbar nabvar-expand">
            <ul class="navbar-nav" (click)="onChatClose()">
                <li class="nav-item">
                    <i class="fa fa-arrow-left"></i>
                </li>
            </ul>
            <ul class="navbar-nav me-auto align-items-center">
                <li class="nav-item">
                    <span class="d-flex justify-content-center align-items-center">{{userName |
                        titlecase}} 
                        <!-- <i [ngStyle]="{ 'color': messageRead ? 'blue': 'black' }" class="fa fa-circle fa-1"></i> -->
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-body" style="height: 500px;overflow: auto; background:linear-gradient(to bottom right, #ccffcc 0%, #99ccff 100%);" #scrollContainer>
        <div class="card-text">
            <div *ngFor="let key of objectKeys(chats)">
                <div *ngIf="myDate == key" class="d-flex justify-content-center align-items-center mb-2">
                    Today
                </div>
                <div *ngIf="myDate != key" class="d-flex justify-content-center align-items-center mb-2">
                    {{ key | date: 'mediumDate'}}
                </div>
                <div class="p-2" *ngFor="let item of chats[key]">
                    <div [ngSwitch]="item.type">
                        <div class="d-flex align-items-baseline mb-4" *ngSwitchCase="'incoming'">
                            <div class="pe-2">
                                <div *ngIf="item.file && item.file_type == 'image'">
                                    <img [src]="item.file" width="30%" class="zoom"/>
                                </div>
                                <div *ngIf="item.file && item.file_type == 'video'">
                                    <video width="30%" controls>
                                        <source [src]="item.file" type="video/mp4">
                                      </video>                                      
                                </div>
                                <div *ngIf="item.file && item.file_type == 'audio'">
                                    <audio controls>
                                        <source [src]="item.file" type="audio/mpeg">
                                      </audio>                                      
                                </div>
                                <div class="card incoming rounded-right d-inline-block p-2 px-3 m-1">
                                    {{item.msg | slangHider}}
                                </div>
                                <div class="small p-1 m-0">
                                    {{item.time | date: 'h:mm a'}}
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-baseline text-end justify-content-end mb-4"
                            *ngSwitchCase="'outgoing'">
                            <div class="pe-2">
                                <div *ngIf="item.file && item.file_type == 'image'">
                                    <img [src]="item.file" width="30%" class="zoom"/>
                                </div>
                                <div *ngIf="item.file && item.file_type == 'video'">
                                    <video width="30%" controls>
                                        <source [src]="item.file" type="video/mp4">
                                      </video>                                      
                                </div>
                                <div *ngIf="item.file && item.file_type == 'audio'">
                                    <audio controls>
                                        <source [src]="item.file" type="audio/mpeg">
                                      </audio>                                      
                                </div>
                                <div class="card outgoing rounded-left d-inline-block p-2 px-3 m-1">
                                    {{item.msg | slangHider}}
                                </div>
                                <div class="small p-1 m-0">
                                    <p [ngStyle]="{ 'color': messageRead ? 'blue': 'black' }">{{item.time | date: 'h:mm a'}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer positive-absolute bottom-0 m-0 p-1">
        <div class="input-group" *ngIf="selectedFileName">
            <p>Selected File: {{ selectedFileName }}</p>
            <div class="me-auto justify-content-end" (click)="onFileDelete()">
                <i class="fa fa-times"></i>
            </div>
        </div>
        <div class="input-group mb-3 fixed-input">
            <div class="m-3 cursor">
                <i class='fa fa-paperclip' (click)="fileInput.click()">
                    <input #fileInput type="file" (change)="selectFile($event)" style="display:none;">
                </i>
            </div>
            <input type="text" class="form-control" placeholder="Write a message..." [(ngModel)]="message" (keydown.enter)="uploadFile()">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button" (click)="uploadFile()">Send</button>
            </div>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Please Wait. </p>
    </ngx-spinner>
</div>