.cursor {
    cursor: pointer;
}

.incoming {
    background: #8F8BE8;
    color: #fff;
}

.outgoing {
    background: #e9eafd;
    color: #787986;
    margin-left: auto;
}

mat-sidenav {
    margin: 16px;
    width: 370px;
    background: #4682C2;
    color: white;
    padding: 15px;
    border-radius: 10px;
    overflow-y: auto;
}

@media screen and (max-width: 576px) {
    mat-sidenav {
        margin: 10px;
        width: 94%;
    }
}

.content {
    margin: 16px;
}

mat-sidenav-container {
    background-image: url('../../assets/background.jpg');
    height: calc(100vh - 65px);
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

.menu {
    padding-bottom: 5px;
}

.menu-button {
    width: 100%;
    color: white!important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    mat-icon {
        margin-right: 8px;
    }
}