<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <h4>User Lists</h4>
        <mat-divider></mat-divider>
        <div class="menu" *ngFor="let user of users;let i = index;" (click)="userSelected(i)">
            <button mat-button class="menu-button cursor" [matTooltip]="user.name" matTooltipPosition="right">
                <mat-icon>person</mat-icon>
                <span>{{ user.name | titlecase | slice:0:15}}</span>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- <div class="container" *ngIf="selectedChatID == -1">
            <div class="d-flex justify-content-center align-items-center">
                <h1>Welcome to this new era chat applicaton</h1>
            </div>
        </div> -->
        <div class="content">
            <app-chat *ngIf="selectedChatID != -1" [selectedChatId]="selectedChatID" [selectedUserId]="selectedUserID" [selectedUserName]="selectedUserName" (chatClose)="toggleList()"></app-chat>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <mat-spinner></mat-spinner>
</ngx-spinner>