<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-lg-2" [class.hide-list]="hideList">
            <div class="card">
                <div class="card-header m-1">
                    <h5><b>Users List</b></h5>
                </div>
                <div class="card-body" style="height: 600px;overflow: auto;">
                    <div class="card-text">
                        <div *ngFor="let user of users;let i = index;" class="card mt-3 p-2" (click)="userSelected(i)">
                            <div class="card-text cursor">
                                {{ user.name | titlecase }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-10 col-sm-10 col-lg-10">
            <app-chat *ngIf="selectedChatID != -1" [selectedChatId]="selectedChatID" [selectedUserId]="selectedUserID" [selectedUserName]="selectedUserName" (chatClose)="toggleList()"></app-chat>
        </div>
    </div>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Please Wait. </p>
    </ngx-spinner>
</div>